body > header > h1 {
  font-size: 2em;
  color: #444;
  font-family: sans-serif;
}
body.top-page div.top-contents {
  display: flex;
  justify-content: space-around;
}
body.top-page div.top-contents div.top-content {
  width: 300px;
  height: 200px;
  padding: 0;
}
body.top-page div.top-contents div.top-content a {
  display: block;
  margin: 0;
  width: 300px;
  height: 200px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}
