//page header
body > header > h1
  font-size 2em
  color #444444
  font-family sans-serif

// top page
body.top-page div.top-contents
  display flex
  justify-content space-around
  div.top-content
    //top things
    width 300px
    height 200px
    padding 0

    //link
    a
      display block
      margin 0
      width 300px
      height 200px
      box-shadow 1px 1px 3px rgba(0,0,0,.15)




