//general
body {
  color:#4a4a4a;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}
//general block
h1 {
  //border-bottom 1px solid #999999
  box-shadow:2px -2px 4px rgba(0,0,0,.14) inset;

  padding:0 0 6px 6px;
  color:#555555;
  font-size:1.48em;
}
h2 {
  padding: 0 0 2px 6px;
  color:#666666;
  font-size:1.3em;
  border-bottom:1px solid #dddddd;
}
h3 {
  font-size:1.2em;
  color:#6b6b6b;
  border-bottom:1px solid #eeeeee;
}
h4 {
  font-size:1em;
  color:#707070;
  border-bottom:1px dashed #eeeeee;
}
p {
  line-height:1.32;
}

ul,ol {
  li {
    line-height:1.6em;
  }
}

//general inline
a,a:link {
  color:#333333;
}
a:visited {
  color:#777777;
}
b,strong,dt,em,var,dfn {
  font-style:normal;
  font-weight:bold;
}

//page header
body > header > h1 {
  margin:0;
  padding:0;
  box-shadow:none;

  a {
    display:block;
    width:300px;
    height:60px;
    text-indent:-9999px;
    background-image: url(/images/toptitle.png);
  }
  a:link, a:visited {
    color:#444444;
  }
}
body > main {
  margin-left:1rem;

  .fullwidth-app {
    margin-left: calc(-8px - 1rem);
    margin-right: -8px;
  }
}


// top page
body.top-page div.top-contents {
  display:flex;
  justify-content:space-around;
  div.top-content {
    //top things
    width:300px;
    height:200px;
    padding:0;

    //link
    a {
      display:block;
      margin:0;
      width:300px;
      height:200px;
      box-shadow:1px 1px 3px rgba(0,0,0,.15);
    }
  }
}
// レスポンシブな感じ
@media (max-width: 600px) {
  body > header > h1 a {
    width: 50vw;
    height: 10vw;
    background-size: contain;
  }
  h1 {
    font-size: 1.16em;
  }
}
