// JavaScript初級者から中級者になろう

ul.recent {
  background-color:#eeeeee;
  padding:1ex 1ex 1ex 40px;
  margin:0 1em;

  li {
    list-style-position:inside;
  }
}

/*
pre {
  display:block;
  white-space:pre;

  max-width: 100%;
  overflow-x: auto;
}
code {
  display: inline-block;
  border: 1px solid #d3d3d3;
  margin: 0 2px;
  padding: 1px;

  font-weight: normal;
}
pre code {
  display: block;
  padding: 6px;
  border-radius: 3px;

  background-color:#f6f6f6;

}
*/
mark {
  color:#cc0000;
  background-color:transparent;
}
mark.ins {
  color:#ff6060;
}
mark.comment {
  color:#ff6060;
}
img.ss {
  float:left;
}

// 広告
aside.ad-javascript {
  float:right;
  background-color:white;
  width:200px;
  padding:10px;
}

// 質問ページ
div.q {
  background-color:#eefff3;
  padding:0.6em;
  margin:0.6em 0.2em;
}
nav.re {
  background-color:#eeffee;
  padding:0.6em;
  margin:0.6em 0.2em;
}
em.rec {
  //おすすめ
  color:#cc0000;
}
